LearningWCF/Samples/ServiceContracts/ServiceContractVersioning_NoInheritance/WinClientV2/Service References/localhost/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://www.thatindigogirl.com/samples/2006/08" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" targetNamespace="http://www.thatindigogirl.com/samples/2006/08" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.thatindigogirl.com/samples/2006/08/Imports">
      <xsd:import schemaLocation="http://localhost:8001/?xsd=xsd0" namespace="http://www.thatindigogirl.com/samples/2006/08" />
      <xsd:import schemaLocation="http://localhost:8001/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceAContract2_Operation1_InputMessage">
    <wsdl:part name="parameters" element="tns:Operation1" />
  </wsdl:message>
  <wsdl:message name="ServiceAContract2_Operation1_OutputMessage">
    <wsdl:part name="parameters" element="tns:Operation1Response" />
  </wsdl:message>
  <wsdl:message name="ServiceAContract2_Operation2_InputMessage">
    <wsdl:part name="parameters" element="tns:Operation2" />
  </wsdl:message>
  <wsdl:message name="ServiceAContract2_Operation2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Operation2Response" />
  </wsdl:message>
  <wsdl:message name="ServiceAContract2_Operation3_InputMessage">
    <wsdl:part name="parameters" element="tns:Operation3" />
  </wsdl:message>
  <wsdl:message name="ServiceAContract2_Operation3_OutputMessage">
    <wsdl:part name="parameters" element="tns:Operation3Response" />
  </wsdl:message>
  <wsdl:portType name="ServiceAContract2">
    <wsdl:operation name="Operation1">
      <wsdl:input wsaw:Action="http://www.thatindigogirl.com/samples/2006/08/ServiceAContract2/Operation1" message="tns:ServiceAContract2_Operation1_InputMessage" />
      <wsdl:output wsaw:Action="http://www.thatindigogirl.com/samples/2006/08/ServiceAContract2/Operation1Response" message="tns:ServiceAContract2_Operation1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Operation2">
      <wsdl:input wsaw:Action="http://www.thatindigogirl.com/samples/2006/08/ServiceAContract2/Operation2" message="tns:ServiceAContract2_Operation2_InputMessage" />
      <wsdl:output wsaw:Action="http://www.thatindigogirl.com/samples/2006/08/ServiceAContract2/Operation2Response" message="tns:ServiceAContract2_Operation2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Operation3">
      <wsdl:input wsaw:Action="http://www.thatindigogirl.com/samples/2006/08/ServiceAContract2/Operation3" message="tns:ServiceAContract2_Operation3_InputMessage" />
      <wsdl:output wsaw:Action="http://www.thatindigogirl.com/samples/2006/08/ServiceAContract2/Operation3Response" message="tns:ServiceAContract2_Operation3_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>